---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: prometheus-exporter-general
spec:
  groups:
    - name: prometheus-exporter-general.rules
      rules:
      - alert: PrometheusExporterJobDown
        expr: up { service=~"prometheus-exporter-.*" } == 0
        for: 2m
        labels:
          severity: critical
        annotations:
          message: "Prometheus Exporter Job {{ $labels.job }} is DOWN, maybe connection to monitored host is lost"
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: "prometheus-exporter-{{ type }}"
spec:
  groups:
  - name: "prometheus-exporter-{{ type }}.rules"
{## <prometheus_rules> ##}
{%  filter indent(4, True) %}
{%  include "{{ role_path }}/exporters/{{ type }}/prometheus.json.j2" %}
{%  endfilter %}
{## <prometheus_rules> ##}